.item:hover {
    transform: scale(1.05); /* Slightly increase the size of the item */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
    
    background-color: rgba(0, 0, 0, 0.2); /* Darken the background */
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, background-color 0.3s ease; /* Smooth transition for all effects */
   }

   /* Sidebar.css */
.sidebar {
    transition: transform 0.3s ease-out; /* Adjust the property and timing as needed */
    transform: translateX(-100%); /* Initially hidden */
   }
   
   .sidebar-open {
    transform: translateX(0); /* Fully visible */
   }
/* ----------------------------------------------navbar------------------------------------ */
.fixed-navbar {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000; /* Ensures the navbar stays on top of other content */
   transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform, background-color, and box-shadow */
}

body {
   padding-top: 60px; /* Adjust based on the height of your navbar */
}